<section>
  <div class="bg"></div>
  <h1>Tweening parallax sections</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>Hey look, a title</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>They just keep coming</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>So smooth though</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>Nice, right?</h1>
</section>